<%- include ../partials/head.ejs %>
<%- include ../partials/header.ejs %>

<main class="container first-container well">
    <h1>Edit the Business Entry</h1>
    <form method="post" action="<%= business._id %>">
        <fieldset class="form-group">
            <label for="businessName" class="col-sm-2">Business Name:</label>
            <input name="businessName" id="businessName" class="form-control" required value="<%= business.businessName %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="about" class="col-sm-2">About the Business:</label>
            <textarea name="about" id="about" class="form-control" required><%= business.about %></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="phoneNumber" class="col-sm-2">Phone Number:</label>
            <input name="phoneNumber" id="phoneNumber" class="form-control" required value="<%= business.phoneNumber %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address:</label>
            <input name="address" id="address" class="form-control" required value="<%= business.address %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="website">Business Website:</label>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">http://</span>
                <input name="website" id="website" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="<%= business.website %>">
            </div>
        </fieldset>
        <div>
            <%= business.created %>
        </div>
        <button class="btn btn-primary">Save</button>

        <a class="btn btn-danger" href="/businesses/delete/<%= business._id %>" title="Delete" id="confirm_delete" >Delete</a>
    </form>
</main>

<%- include ../partials/footer.ejs %>