<%- include ../partials/head.ejs %>
<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Buinesses</h1>

    <a href="/Businesses/create" title="Add a Business">Add a new Business</a>

    <ul class="list-group">
        <% for (var i = 0; i < businesses.length; i++) { %>
            <li class="list-group-item">
                <!-- link to /businesses/:id -->
                <a href="/businesses/<%= businesses[i]._id%>" title="Read More...">
                    <%= businesses[i].title %></a>
            </li>
        <% } %>
    </ul>
</main>

<%- include ../partials/footer.ejs %>